<div class="container mt-4">
  <div class="row">
    <h2>Rédiger un article</h2>
    <%= form_with model: @article do |f| %>
      <%= f.label :Titre %>
      <%= f.text_field :title %>
      <div class="form-inputs">
        <%= f.text_area :content, :class => "tinymce", :rows => 40, :cols => 120 %>
        <%= f.rich_text_area :rich_body %>
        <%= tinymce %>
      </div>
      <div class="form-inputs">
      <%= f.label :Categories %>
      <%= f.collection_select :category_ids, Category.all, :id, :nom, {}, { multiple: true } %>
      </div>
      <%= f.submit "Enregistrer", {class: "btn btn-primary"} %>
    <% end %>
    <div>
      <%= link_to articles_path, class: "btn btn-primary" do %>
        <i class="fas fa-arrow-left"></i> Retour
      <% end %>
    </div>
  </div>
</div>
