<!DOCTYPE html>
<html>
  <head>
    <title>IntranetCfdt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
    <script src="https://cdn.tiny.cloud/1/4xtli9n7fygv47gzz4oyw7nwd6porb60kf9q2nzbnm8p0kou" referrerpolicy="origin"></script>
      <script>
        tinymce.init({
          selector: 'textarea',  // Sélecteur pour cibler les zones de texte
          theme : "advanced",
          plugins : "cloudinaryimage",
          // plugins: 'image',
          toolbar: 'image',
          images_upload_url: '/uploader/image'  // URL vers votre contrôleur d'upload
          // images_upload_credentials: true
        });
    </script>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
